<h1 class="text-center">New task</h1>
<div class="card mx-auto center">

  <form action="/new" method="post">
    <input type="text" name="title" size="23" placeholder="To do" class="form-control">

    <div class="card-footer">

      <button class="green" type="submit">
        <i class="fas fa-check"></i>
      </button>
  </form>
  </div>
</div>
<div class="option text-center">
  <button>
    <a href="/">Home</a>
  </button>
</div>